//home scss
#header{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 2000;

  .heart-logo{
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 45px;
    left: 50px;
    @include transition(all .2s ease-in);

    svg{
      height: 32px;
      max-width:100%;
    }

    &:hover{
      @include transform( scale(0.9) );
      @include transition(all .2s ease-in);
    }
  }

  p{
    margin: 7px 0;
  }
}

@media (min-width: 1140px){
  #header{
    #heart-svg{
      top: 55px;
      left: 60px;
    }
  }
}
