@mixin heart-hover{
  svg{
    .poly{
      fill: $pink;
      @include logoTransition();
    }
  }
  @include transform( scale(1.4) );
  @include logoTransition();
}

//home scss
#header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 2000;

  #back{
    display: none;
  }

  .row{
    position: relative;
    width: 100%;
    @include site-max-width();
  }

  .heart-click{
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 24px;
    left: 54px;
    @include transition(all 200ms ease-in);
  }

  .heart-logo{
    display: block;
    height: 34px;
    @include logoTransition();

    svg{
      position: relative;
      height: 100%;
      width: auto;

      .poly{
        fill: #fff;
        @include logoTransition();
      }
    }
  }

  p{
    margin: 7px 0;
  }
}

/* .photo-modal-page{
  #header{
    .heart-logo{
      svg{
        .poly{
          fill: #fff;
          @include transition(all 1s ease-in-out);
        }
      }
      @include heart-hover();
    }
  }
} */

.touch{
  #header{
    .heart-click{
      &:active{
        @include heart-hover();
      }
    }
  }
}

.no-touch{
  #header{
    .heart-logo{
      &:hover{
        @include heart-hover();
      }
    }
  }
}

@media (min-width: 1140px){
  #header{
    #heart-svg{
      top: 55px;
      left: 60px;
    }
  }
}
