#photo-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1043;
  outline: 0!important;
  -webkit-backface-visibility: hidden;

  #photo-modal-backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .6);
  }

  #photo-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 40px;
    z-index: 100;
    text-align: center;

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  #photo-content{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;

    figure{
      position: relative;

      #photo{
        img{
          width: auto;
          max-width: 100%;
          height: auto;
          display: block;
          line-height: 0;
          margin: 0 auto;
        }
      }

      #previous-photo, #next-photo{
        display: inline-block;
        position: absolute;
        top: 50%;
        width: 18px;
        height: 31px;
        background: url(/images/schedule-arrow@2x.png) 0 0 no-repeat;
        background-size: 18px 31px;
      }

      #previous-photo{
        left: 30px;
        @include flip();
      }

      #next-photo{
        right: 30px;
      }
    }
  }
}


