$borderSize: 5px;
//home scss
.home{

}

.photo-group{
    position: relative;
    width: 100%;

  .-border-it-black{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: 25px solid black;
      z-index: 10;
      pointer-events: none;
    }

  }

  .-box-it-white{
    position: relative;
    &:after, &:before{
      content: '';
      position: absolute;
      height: $borderSize*5;
      width: 100%;
      background-color: white;
      z-index: 10;
    }

    &:after{
      bottom: 0;
      left: 0;
    }

    &:before{
      top: 0;
      left: 0;
    }
  }

  .-border-b{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-color: white;
      z-index: 10;
    }
  }

  .-border-r{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 5px;
      background-color: white;
      z-index: 10;
    }
  }

  .row{
    padding-bottom: $pad;
    @include clearfix();
  }

  .col{
    display: inline;
    float: left;

    &.-w-1{
      width: 100%;
    }

    &.-w-5-4{
      width: 80%;
    }

    &.-w-5-3{
      width: 60%;

      .-pull-1{
        margin-right: -33%;
      }
    }

    &.-w-5-2{
      width: 40%;

      .-push-1{
        margin-left: 50%;
      }
    }

    &.-w-5-1{
      width: 20%;
    }

    &.-w-3-2{
      width: 66.5%;
    }

    &.-w-3-1{
      width: 33.25%;
    }

    &.-w-2-1{
      width: 100%;
    }

    &.-w-2-2{
      width: 50%;
    }

    &.-pb-50{
      .photo-item{
        a{
          padding-bottom: 50%;
        }
      }
    }

    &.-pb-100{
      .photo-item{
        a{
          padding-bottom: 100%;
        }
      }
    }

    &.-pb-200{
      .photo-item{
        a{
          padding-bottom: 200%;
        }
      }
    }

  }

  &.feature{
    width: 100%;
    height: auto;
    color: white;

    #feature-text{
      position: absolute;
      bottom: 300px;
      right: 100px;
      max-width: 400px;
      //font-family: 'Gentium Book Basic', serif;
      font-family: 'Vollkorn', serif;
      font-weight: 300;

      h1{
        margin-bottom: 0px;
        font-size: 40px;
        line-height: 26px;
        @include clearfix();

        span{
          float: left;
          top: -52px;
          margin-right: 10px;
        }

        hr{
          width: 172px;
          height: 3px;
          margin-top: 12px;
          background-color: white;
          float: left;
        }
      }

      p{
        position: relative;
        font-size: 16px;
        font-style: italic;
        margin: 5px 0 0 120px;

        .heart-logo{
          display: inline-block;
          position: absolute;
          top: 2px;
          left: -38px;

          svg{
            height: 15px;
            max-width:100%;
          }
        }
      }
    }
  }

  &.full{
    width: 100%;
    height: auto;
  }

  &.fifty{
    padding-right: $pad;
    padding-left: $pad;

    .col{
      width: 50%;
  
      &.left{
        padding-right: $pad/2;
      }

      &.right{
        padding-left: $pad/2;
      }    
    }

    .photo-item{
      a{
        padding-bottom: 100%;
      }
    }
  }

  &.six-four{
    .col{
      &.-w-5-3, &.-w-5-2{

      }
    }

    .photo-item{
      a{
        padding-bottom: 100%;
      }
    }
  }

  .photo-item{
    display: inline-block;
    width: 100%;
    background-color: #f2f2f2;

    &.lazy-load{
      opacity: 0;
      @include transition(all .2s ease-in);

      &.lazy-load-visible{
        animation-name: fadeInUp;
        @include transition(all .2s ease-in);
      }
    }

    a{
      display: block;
      transform: translate3d(0, 0, 0);
      transform-origin: 50% 50%;
      padding-bottom: 67%;
      background-position: 50% 50%;
      background-size: cover;
      cursor: pointer;
      overflow: hidden;
    }
  }
}

@media (max-width: 992px){
  .photo-group{

    &.six-four{
      .col{
        &.-w-5-2{
          width: 100%;

          .-w-2-2{
            //width:100%;

            &.-push-1{
              margin-left: 0;
            }
          }
        }

        &.-box-it-white{
          width: 50%;
        }
      }
    }

    .col{
      &.-w-5-3{
        width: 100%;
      }

      &.-w-3-2.-pull-1{
        width: 33%;
        margin-right: 0;
        .photo-item{
          a{
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}
