$borderSize: 5px;
//home scss

.photo-group{
    position: relative;
    width: 100%;
    @include site-max-width();

  .-border-it-black{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: 25px solid black;
      z-index: 10;
      pointer-events: none;
    }
  }

  .-box-it-white{
    position: relative;
    &:after, &:before{
      content: '';
      position: absolute;
      height: $borderSize*5;
      width: 100%;
      background-color: white;
      z-index: 10;
    }

    &:after{
      bottom: 0;
      left: 0;
    }

    &:before{
      top: 0;
      left: 0;
    }
  }

  .-border-b{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      width: 100%;
      background-color: white;
      z-index: 10;
    }
  }

  .-border-r{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 5px;
      background-color: white;
      z-index: 10;
    }
  }

  .row{
    position: relative;
    padding-bottom: $pad;
    @include clearfix();
  }

  .col{
    position: relative;
    display: inline;
    float: left;

    &.-pad-bottom-100{
      .photo-item{
        a{
          padding-bottom: 100%;
        }
      }
    }

    &.-pad-bottom-50{
      .photo-item{
        a{
          padding-bottom: 50%;
        }
      }
    }

    &.-w-1{
      width: 100%;
    }

    &.-w-5-4{
      width: 80%;
    }

    &.-w-5-3{
      width: 60%;

      .-pull-1{
        margin-right: -33%;
      }
    }

    &.-w-5-2{
      width: 40%;

      .-push-1{
        margin-left: 50%;
      }
    }

    &.-w-5-1{
      width: 20%;
    }

    &.-w-4-1{
      width: 25%;
    }

    &.-w-4-2{
      width: 50%;
    }

    &.-w-4-4{
      width: 100%;
    }

    &.-w-3-2{
      width: 66.62%;
    }

    &.-w-3-1{
      width: 33.37%;
    }

    &.-w-2-1{
      width: 100%;
    }

    &.-w-2-2{
      width: 50%;
    }

    &.-pb-50{
      .photo-item{
        a{
          padding-bottom: 50%;
        }
      }
    }

    &.-pb-100{
      .photo-item{
        a{
          padding-bottom: 100% !important;
        }
      }
    }

    &.-pb-200{
      .photo-item{
        a{
          padding-bottom: 200% !important;
        }
      }
    }

  }

  &.feature{
    width: 100%;
    height: auto;
    max-width: none;
    color: white;

    .photo-item{
      &:hover{
        &:after{
          border: none;
        }
      }
    }

    #feature-text{
      position: absolute;
      bottom: 300px;
      right: 100px;
      max-width: 400px;
      //font-family: 'Gentium Book Basic', serif;
      font-family: 'Vollkorn', serif;
      font-weight: 300;

      h1{
        margin-bottom: 0px;
        font-size: 40px;
        line-height: 26px;
        @include clearfix();

        span{
          float: left;
          top: -52px;
          margin-right: 10px;
        }

        hr{
          width: 172px;
          height: 3px;
          margin-top: 12px;
          background-color: white;
          float: left;
        }
      }

      p{
        position: relative;
        font-size: 16px;
        font-style: italic;
        margin: 5px 0 0 120px;

        .heart-logo{
          display: inline-block;
          position: absolute;
          top: 2px;
          left: -25px;

          svg{
            height: 15px;
          }
        }
      }
    }
  }

  &.full{
    .col{
      width: 100%;
      .photo-item{
        a{
          padding-bottom: 100%;
        }
      }
    }
  }

  &.fifty{
/*     padding-right: $pad;
    padding-left: $pad; */
    &.g-5{
      .-right{
        a{
          background-position: bottom center;
        }
      }
    }

    .col{
      width: 50%;

      &.-left{
        //padding-right: $pad/2;
      }

      &.-right{
        //padding-left: $pad/2;
      }
    }

    .photo-item{
      a{
        padding-bottom: 100%;
      }
    }
  }

  &.sixty-thirty{
    .row{
      .col{
        &.-left{
          //width: 66%;
          width: 66.66666%;
          //padding-right: $pad * .6666666;

          .photo-item{
            a{
              //padding-bottom: 151.515151515152%;
              padding-bottom: 100%;
            }             
          }         
        }
        &.-w-3-1.-right{
          //width: 34%;
          width: 33.33333%;
          //padding-left: $pad * .3333333;

          .photo-item{
            a{
              padding-bottom: 200%;
              //padding-bottom: 101.117647%;
            }            
          }
        }
      }
    }
  }

  &.grid-one{
    .row{
      .col{
        &.second{
           margin-bottom: -2px;
        }

        .photo-item{
          position: relative;
          @include psuedo-subpixel-cover(0);
        }

        a{
          padding-bottom: 50%;
        }
      }
    }
  }

  &.grid-two{
    .row{
      .col{
        a{
          padding-bottom: 80%;
        }
        &.-w-4-1.-left{
          //padding-right: $pad/2;
          a{
            padding-bottom: 160%;
          }
        }

        &.-w-4-2{
          //padding-right: $pad/2;
          //padding-left: $pad/2;
        }

        &.-w-4-1.-right{
          //padding-right: $pad/2;
          a{
            padding-bottom: 160%;
          }          
        }
        /* &.-w-4-1.-right{
          padding-left: $pad/2;
          .-w-4-4{
            &:first-child{
              .photo-item{
                padding-bottom: $pad/2;
                a{
                  padding-bottom: calc(60% - #{$pad/2});
                }
              }
            }
            &:last-child{
              .photo-item{
                padding-top: $pad/2;
                a{
                  padding-bottom: calc(60% - #{$pad/2});
                }
              }
            }
          }
        } */
      }
    }
  }

  &.spaceless-one{
    .row{
      @include psuedo-subpixel-cover($pad);

      .col{
        .photo-item{
          @include reset-photo-item-animation;
        }

        a{
          //padding-bottom: 100%;
        }

        &.-w-4-2{
          //padding-right: $pad/2;
          //padding-left: $pad/2;
          a{
            padding-bottom: 100%;
          }          
        }

        &.-w-4-1.-left{
          //padding-right: $pad/2;
          a{
            padding-bottom: 200%;
          }
        }

        &.-w-4-1.-right{
          //padding-left: $pad/2;
          .-w-4-4{
            .photo-item{
              //padding-bottom: $pad/2;
              a{
                padding-bottom: 50%;
              }
            }
          }
        }
      }
    }
  }  

  .photo-item{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: $bg-color;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: 0px solid transparent;
      z-index: 10;
      pointer-events: none;
      @include transition(all .1s ease-in);
    }

    &:hover{
      &:after{
        border: 8px solid rgba(255, 255, 255, .2);
        @include transition(all .2s ease-in);
      }      
    }

    &.lazy-load{
      opacity: 0;
      @include transition(all .2s ease-in);

      &.lazy-load-visible{
        @include animation-name(fadeInUp);
        @include transition(all .2s ease-in);
      }
    }

    .image{
      display: block;
      @include transform( translate3d(0, 0, 0) );
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      padding-bottom: 67%;
      background-position: 50% 50%;
      background-size: cover;
      cursor: pointer;
      overflow: hidden;
      opacity: 0;
      @include transition(all .2s ease-in);

      &.image-loaded{
        opacity: 1;
        @include transition(all .2s ease-in);
      }
    }
  }
}

@media (max-width: 992px){
  .photo-group{

    &.six-four{
      .col{
        &.-w-5-2{
          width: 100%;

          .-w-2-2{
            //width:100%;

            &.-push-1{
              margin-left: 0;
            }
          }
        }

        &.-box-it-white{
          width: 50%;
        }
      }
    }

    .col{
      &.-w-5-3{
        width: 100%;
      }

      &.-w-3-2.-pull-1{
        width: 33%;
        margin-right: 0;
        .photo-item{
          a{
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}
