
//photo page scss
.photo-page{

  #header{
    position: relative;
    height: 48px;

    #back{
      display: block;
      position: absolute;
      top: 15px;
      left: 50px;
      z-index: 2000;
      //text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }

    .heart-click{
      top: 13px;
      left: 20px;
    }

    .heart-logo{
      height: 24px;

      svg{
        .poly{
          fill: $black;
        }
      }
    }
  }

  .photo{
    position: relative;
    width: 100%;

    img{
      position: absolute;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      top: 0;
      left: 50%;
      @include transform( translate(-50%, 0%) );
    }
  }
}
