
//photo page scss
.photo-page{

  #header{
    .heart-logo{
      top: 45px;
      left: 50px;

      svg{
        height: 32px;
        max-width:100%;

        .poly{
          fill: #000;
        }
      }
    }
  }

  #back{

  }

  #photo{
    position: relative;
    width: 100%;

    img{
      position: absolute;
      height: 100%;
      max-width: 100%;
      top: 0;
      left: 50%;
      @include transform( translate(-50%, 0%) );
    }
  }
}
